<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
  <title>Контактная информация</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>

    <div class="container-fluid">
        <div class="row">

            <div th:replace="fragments/navigator :: navigator"></div>

            <div class="col-md-8 col-lg-9 content-container" style="background-color: #f7ead7">

                <section>
                    <h4><a href="/userInfo/save">Изменить ваши контактные данные</a></h4>
          <div class="row">
            <table id="userInfo" class="table table-bordered" style="width: 100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Email</th>
<!--                <th>Дата рождения</th>-->
              </tr>
              </thead>
              <tbody>
                <tr>
              <tr th:each="user: ${userInfoList}">
                <td th:text="${user.username}"/>
                <td th:text="${user.fio}"/>
                <td th:text="${user.phone}"/>
                <td th:text="${user.email}"/>
<!--                <td th:data="${user.birthDate}"/>-->
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>

                </section>
            </div>
        </div>
    </div>
</div> <!-- wrapper -->

<!-- FOOTER -->
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>


