
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
@media (min-width: 768px) {
    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }

    .navbar-container .navbar {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }

    .navbar-container .navbar-collapse {
        align-items: flex-start;
    }

    .navbar-container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .navbar-container .navbar-nav {
        flex-direction: column !important;
    }
}
.page-holder{
    min-height: 70vh;
}
.bg-cover {
    background-size: 60%;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-top: -108px;
    padding-top: 108px;
    margin-bottom: -255px;
    padding-bottom: 255px;
}
footer {
    height: 287px;
    background-color: #eee;
    padding-top: 0px;
}
.main-content {
    margin-bottom: 65px;

}
.p {padding: 2em;border: 1px dashed #CCC}
.content{
    position: relative;
    top: 90px;
    margin-top: 50px;
}
.red{
    color: #ff0000
}

.aside{
    text-align: center;
    position: relative;
    top: 90px;
}

.main{
    text-align: center;
    padding-top: 70px;
    position: relative;
    top: 90px;
    left: 30px;
    right: 0;
    width: 100%;
}
a.btn-info{
    display: inline-block;
    font-weight: 700;
    background-color: white;
    color: black;
    text-decoration:none;
    user-select: none;
    padding: 5em 2em;
    outline:none;
    border: 2px solid;
    border-radius: 1px;
    transition:0.2s;
}

a.btn-info:hover {background: #26272b;}
a.btn-info:hover:active {background: #26272b;}
a.btn-info:active {background: white;}

.nav{
    background-color: #e81d62;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    width: 100%;
}
