/* CSS Document */
@charset "UTF-8";

*{  margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
.site-header{
	position: fixed;
	left: 0;
	right: 0;
	top: -0.5vh;
	width: 100%;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color:#fff;
	text-decoration: none;
	flex-wrap:wrap;
}

.header_section{
	display: flex;
	align-items: center;
}
.header_item{
	padding: 10px 20px;
	font-size: 20px;
	margin-left: 10px;
}
.btn_create_cv {
	border:1px solid;
	border-radius: 20px;
	padding:6px 10px;
}
.btn_login {
	border:1px solid;
	border-radius: 20px;
	padding:6px 6px;
}
a { font-size: 16px;
	color: #fff;
}
.btn_create_cv:hover {
	color: green;
}
a:hover {
	color: firebrick;
}